# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of some popular languages that Data Scientists use
- List of the commonly used libraries used by Data Scientists
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Plotly
3. Ggplot

| Data Science Tools |
| -------------|
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [11]:
 200/60

3.3333333333333335

## Author
Alex Farber